p {
    margin-bottom: 1em !important;
}
.field .field-body .control span.text-field {
    display: inline-block !important;
    margin-top: 0.4em !important;
    margin-left: 0.5em !important
}

div.field.is-horizontal div.field-label label.label {
    min-width: 10em;
}

/* show-container */
.show-container .columns .column {
    padding: 0.1em  0.5em 0.1em 0.5em;
}

.show-container table tr td {
    padding: .1em .4em !important;
}

.show-container ul {
    list-style: disc;
}
.show-container ul li {
    margin-left: 2em;
}

/* edit container */
.edit-container .input,
.edit-container span.file-cta,
.edit-container span.file-label {
    height: 2em !important;
    padding-bottom: calc(0.2em - 1px) !important;
    /*padding-left: calc(0.5em - 1px) !important; */
    padding-right: calc(0.5em - 1px) !important;
    padding-top: calc(0.2em - 1px) !important;
    max-width: 36em;
}
.edit-container input[name="summary"], .edit-container input[name="disclaimer"] {
    width: 100% !important;
    max-width: 100% !important;
}
.edit-container .select,
.edit-container select {
    height: 2em !important;
    padding-bottom: calc(0.1em - 1px) !important;
    padding-top: calc(0.1em - 1px) !important;
}
.edit-container span.file-name {
    height: 2em;
}
.edit-container .field:not(:last-child) {
    margin-bottom: .5rem;
}
.edit-container input[name="level"],
.edit-container input[name="rating"] {
    width: 4em   ;
}
.edit-container input[name="prep_time"],
.edit-container input[name="publication_year"],
.edit-container input[name="sequence"],
.edit-container input[name="total_time"],
.edit-container input[name="year"],
.edit-container input[name="year"],
.edit-container input[name="start_year"],
.edit-container input[name="end_year"] {
    width: 5em   ;
}
.edit-container input[name="duration_hours"],
.edit-container input[name="compensation_max"],
.edit-container input[name="compensation_min"],
.edit-container input[name="zip"] {
    width: 8em   ;
}
.edit-container input[name="abbreviation"],
.edit-container input[name="apply_date"],
.edit-container input[name="catalog_number"],
.edit-container input[name="close_date"],
.edit-container input[name="completion_date"],
.edit-container input[name="cvoer_letter_date"],
.edit-container input[name="date"],
.edit-container input[name="expiration"],
.edit-container input[name="post_date"],
.edit-container input[name="received"],
.edit-container input[name="release_date"],
.edit-container input[name="date"],
.edit-container input[name="version"] {
    width: 10em   ;
}

.edit-container input[name="latitude"], .edit-container input[name="longitude"] {
    width: 8em;
}

.edit-container input[name="phone"], .edit-container input[name="phone_label"],
.edit-container input[name="alt_phone"], .edit-container input[name="alt_phone_label"],
.edit-container input[name="work_phone"], .edit-container input[name="personal_phone"],
.edit-container input[name="link_name"], .edit-container input[name="image_credit"] {
    width: 20em;
}

.edit-container input[name="email"], .edit-container input[name="email_label"],
.edit-container input[name="alt_email"], .edit-container input[name="alt_email_label"],
.edit-container input[name="work_email"], .edit-container input[name="personal_email"],
.edit-container input[name="city"] {
    width: 20em;
}

.edit-container input[name="birthday"] {
    width: 12em;
}

.edit-container input[name="link"], .edit-container input[name="image_source"] {
    width: 40em;
}

.edit-container input[name="disclaimer"] {
    width: 50em;
}

/* checkbox-container */
.checkbox-container {
    padding: 0.5rem 0.2rem 0 1rem !important;
}
.checkbox-container div.field {
    display: inline-block;
    width: 9em;
}
.checkbox-container div.field-label,
.checkbox-container div.field-body {
    width: 5em;
}
.checkbox-container div.field-label {
    margin-right: 0;
}
.checkbox-container label {
    display: flex !important;
    align-items: center; /* Vertically centers the checkbox and text */
}
.checkbox-container label input[type=checkbox] {
    margin-right: 8px !important; /* Adds space between checkbox and label */
    flex: none !important;
}

.resume-container {
    max-width: 50em !important;
}
.resume-container .list-item-title {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.2em;
}
.resume-container .list-item-description {
    font-size: 0.9em;
    line-height: 1.2em;
}
.resume-container .list-item-description.gray {
    color: #7a7a7a;
    line-height: 1.2em;
}

.search-container .control {
    display: inline-block;
    padding: 0.2em 0.3em;
}
.search-container .control label,
.search-container .control .field {
    margin-bottom: 0.1em;
}
.search-container .control .field .select .form-select {
    padding: 0.1em !important;
    line-height: 1;
    height: calc(1em + .75em) !important;
}

.top-pinned-message {
    position: fixed;
    top: 0;
    left: 30%;
    transform: translateX(-50%);
    font-weight: 800;
    padding: 0.2em 1em;
    z-index: 999999 !important;
    text-align: center;
}

.is-menu-main {
    font-size: 1rem;
}
ul.menu p.menu-label.menu-label-left {
    margin-top: 6px;
    margin-bottom: 2px !important;
}
ul.menu p.menu-label a,
ul.menu p.menu-label span {
    font-size: 15px;
}

ul.menu-list li {
    list-style: none;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

table tbody tr td p {
    margin-bottom: 0 !important;
}

div.action-button-panel {
    white-space: nowrap;
}
div.action-button-panel form.delete-resource {
    display: inline;
}

nav.navbar .navbar-item.has-dropdown .navbar-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav.pagination ul.pagination-list li {
    margin-left: 0;
}

/* admin table */
table.table.admin-table {
    border: 0 rgb(128, 128, 128) inset;
    border-collapse: collapse;
    margin-bottom: .75rem !important;
}

table.table.admin-table tbody tr:not(.is-selected):nth-child(even) {
    background-color: #f5f5f5;
}
table.table.admin-table thead th, table.admin-table thead td,
table.table.admin-table tbody th, table.admin-table tbody td {
    padding: 0.1em 0.2em;
    white-space: nowrap;
    width: 1%;
    cursor: default
}
table.table.admin-table tbody tr:not(.is-selected):hover{ background-color:#e0e0e0 }
table.table.admin-table tbody tr:not(.is-selected):hover:nth-child(even) { background-color:#e0e0e0 }
p.admin-table-caption {
    font-size: 14px;
    font-style: italic;
    margin: 0 !important;
}
span.featured-splat {
    font-weight: 800;
}

table.table.guest-table {
    border: 0 rgb(128, 128, 128) inset;
    border-collapse: collapse;
    margin-bottom: .75rem !important;
}

div.floating-div-container div.floating-div {
    display: inline-block;
    vertical-align: top;
    width: auto;
}
div.floating-div-container div.floating-div.card {
    padding: 1rem !important;
    margin-bottom: .5rem !important;
}
.top-left-span {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right-span {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-left-span {
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-right-span {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* title bar */
section.section.is-title-bar div.level div.level-left,
section.section.is-title-bar div.level div.level-right {
    margin-top: 0;
}

/* bread crumbs */
section.section.is-title-bar ul {
    padding: 6px 0 4px 0;
}
section.section.is-title-bar ul li {
    line-height: 1;
    display: inline-block;
    padding: 0;
    font-size: 1.5rem;
    color: #7a7a7a
}

section.section.is-title-bar ul li:after {
    display: inline-block;
    content: "/";
    padding-left: 0
}

/* subtitle bar */

section.hero.is-hero-bar {
    background-color: transparent;
    border: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
div.subtitle-bar div.level div.level-left,
div.subtitle-bar div.level div.level-right {
    margin-top: 2px;
}
div.subtitle-bar > * {
    vertical-align: top;  // Align children to middle of line
}

section.is-main-section {
    padding: 0.5rem;
}
footer {
    background-color: transparent !important;
    border: 0;
    margin-top: 0.5rem;
}
