p {
    margin-bottom: 1em !important;
}
.field .field-body .control span.text-field {
    display: inline-block !important;
    margin-top: 0.4em !important;
    margin-left: 0.5em !important
}

div.field.is-horizontal div.field-label label.label {
    min-width: 10em;
}

/* show-container */
.show-container .columns .column {
    padding: 0.1em  0.5em 0.1em 0.5em;
}
.show-container .columns .column.left-align {
    margin-left: -0.6rem !important;
}

.show-container table tr td {
    padding: .1em .4em !important;
}

.show-container ul {
    list-style: disc;
}
.show-container ul li {
    margin-left: 2em;
}
.show-container ul li.list-item {
    margin-left: 0.5em;
}

/* edit container */
.edit-container .input,
.edit-container span.file-cta,
.edit-container span.file-label {
    height: 2em !important;
    padding-bottom: calc(0.2em - 1px) !important;
    /*padding-left: calc(0.5em - 1px) !important; */
    padding-right: calc(0.5em - 1px) !important;
    padding-top: calc(0.2em - 1px) !important;
    max-width: 36em;
}
.edit-container input[name="summary"], .edit-container input[name="disclaimer"] {
    width: 100% !important;
    max-width: 100% !important;
}
.edit-container .select,
.edit-container select {
    height: 2em !important;
    padding-bottom: calc(0.1em - 1px) !important;
    padding-top: calc(0.1em - 1px) !important;
}
.edit-container span.file-name {
    height: 2em;
}
.edit-container .field:not(:last-child) {
    margin-bottom: .5rem;
}
.edit-container input[name="level"],
.edit-container input[name="rating"] {
    width: 4em   ;
}
.edit-container input[name="prep_time"],
.edit-container input[name="publication_year"],
.edit-container input[name="sequence"],
.edit-container input[name="total_time"],
.edit-container input[name="year"],
.edit-container input[name="year"],
.edit-container input[name="start_year"],
.edit-container input[name="end_year"] {
    width: 5em   ;
}
.edit-container input[name="duration_hours"],
.edit-container input[name="compensation_max"],
.edit-container input[name="compensation_min"],
.edit-container input[name="zip"] {
    width: 8em   ;
}
.edit-container input[name="abbreviation"],
.edit-container input[name="apply_date"],
.edit-container input[name="catalog_number"],
.edit-container input[name="close_date"],
.edit-container input[name="completion_date"],
.edit-container input[name="cvoer_letter_date"],
.edit-container input[name="date"],
.edit-container input[name="expiration"],
.edit-container input[name="post_date"],
.edit-container input[name="received"],
.edit-container input[name="release_date"],
.edit-container input[name="date"],
.edit-container input[name="version"] {
    width: 10em   ;
}

.edit-container input[name="latitude"], .edit-container input[name="longitude"] {
    width: 8em;
}

.edit-container input[name="phone"], .edit-container input[name="phone_label"],
.edit-container input[name="alt_phone"], .edit-container input[name="alt_phone_label"],
.edit-container input[name="work_phone"], .edit-container input[name="personal_phone"],
.edit-container input[name="link_name"], .edit-container input[name="image_credit"] {
    width: 20em;
}

.edit-container input[name="email"], .edit-container input[name="email_label"],
.edit-container input[name="alt_email"], .edit-container input[name="alt_email_label"],
.edit-container input[name="work_email"], .edit-container input[name="personal_email"],
.edit-container input[name="city"] {
    width: 20em;
}

.edit-container input[name="birthday"] {
    width: 12em;
}

.edit-container input[name="link"], .edit-container input[name="image_source"] {
    width: 40em;
}

.edit-container input[name="disclaimer"] {
    width: 50em;
}

/* checkbox-container */
.checkbox-container {
    padding: 0.5rem 0.2rem 0 1rem !important;
}
.checkbox-container div.field {
    display: inline-block;
    width: 9em;
}
.checkbox-container div.field-label,
.checkbox-container div.field-body {
    width: 5em;
}
.checkbox-container div.field-label {
    margin-right: 0;
}
.checkbox-container label {
    display: flex !important;
    align-items: center; /* Vertically centers the checkbox and text */
}
.checkbox-container label input[type=checkbox] {
    margin-right: 8px !important; /* Adds space between checkbox and label */
    flex: none !important;
}

.resume-container {
    max-width: 50em !important;
}
.resume-container .list-item-title {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.2em;
}
.resume-container .list-item-description {
    font-size: 0.9em;
    line-height: 1.2em;
}
.resume-container .list-item-description.gray {
    color: #7a7a7a;
    line-height: 1.2em;
}

.search-container .control {
    display: inline-block;
    padding: 0.2em 0.3em;
}
.search-container .control label,
.search-container .control .field {
    margin-bottom: 0.1em;
}
.search-container .control .field .select .form-select {
    padding: 0.1em !important;
    line-height: 1;
    height: calc(1em + .75em) !important;
}
form#searchForm div.floating-div-container div.floating-div {
    width: auto;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control {
    padding: 0 0 0 4px;
    display: block;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control {
    padding: 0;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control.search-checkbox-container div.field div.control {
    height: 2.1em;
    margin-top: 0.4em;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control div.field {
    margin-bottom: 0;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control div.field label {
    margin-bottom: 0;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control div.field div {
    height: 2.1em;
    margin-bottom: 0;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control div.field div.input {
    height: 28px;
    padding: 0;
    margin-bottom: 0.6em;
    border-width: 0;
}
form#searchForm div.floating-div-container div.floating-div div.search-form-control div.control div.field div.input input {
    height: 28px;
    padding-left: 0.2em;
    margin-bottom: 0;
}

.search-button, .clear-button {
    height: 30px;
    margin-left: .25rem;
    margin-right: .25rem;
    font-size: .75rem;
    background-color: #363636;
    border-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 0.4em 1em;
    text-align: center;
    white-space: nowrap;
}
.search-panel-controls {
    background-color: rgb(208,208,208);
    text-align: right !important;
    padding: .3rem !important;
    margin-bottom: 0.3rem !important;
}
.search-panel-controls .control.sort-control {
    position: absolute;
    left: 12px;
    font-weight: 600;
}
.search-panel-controls .control.sort-control .field .label {
    display: inline-block;
    padding-top: 4px;
    margin-right: 0.2rem;
    font-size: 0.8rem !important;
}
.search-panel-controls .control.sort-control .field .select {
    display: inline-block;
    position: absolute;
    min-width: 6rem !important;
    top: -1px;
    margin-left: 0.2rem;
}
.search-panel-controls .control.sort-control .field .select select {
    font-size: 0.9rem !important;
    min-width: 6rem !important;
    height: 1.8rem !important;
    padding-left: 4px !important;
    margin-top: 1px;
}

.top-pinned-message {
    position: fixed;
    top: 0;
    left: 30%;
    transform: translateX(-50%);
    font-weight: 800;
    padding: 0.2em 1em;
    z-index: 999999 !important;
    text-align: center;
}
.message.is-danger, .message.is-info, .message.is-success, .message.is-warning {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.is-menu-main {
    font-size: 1rem;
}
ul.menu p.menu-label.menu-label-left {
    margin-top: 6px;
    margin-bottom: 0 !important;
}
ul.menu p.menu-label a,
ul.menu p.menu-label span {
    font-size: 15px;
}

ul.menu-list li {
    list-style: none;
}
ul.menu-list a {
    color: white;
}
ul.menu-list a:hover {
    background-color: #ddd;
    color: black;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

table tbody tr td p {
    margin-bottom: 0 !important;
}

div.action-button-panel {
    white-space: nowrap;
}
div.action-button-panel form.delete-resource {
    display: inline;
}

ul.menu-list li.list-item a {
    padding: 0.5rem 0.5rem;
}
ul.menu-list li.list-item a:hover {
    background-color: #d0d0d0 !important;
}

nav#navbar-main {
    height: 1.25rem;
}
nav#navbar-main.guest, nav#navbar-main.user {
    background-color: #48c78e !important;
    color: #17191e !important;
}
nav#navbar-main.admin {
    background-color: #d0d0d0 !important;
    color: #17191e !important;
}
nav.navbar .navbar-item.has-dropdown .navbar-link {
    padding: 0 0.4rem 0 0.4rem;
}
div.navbar-link span {
    display: inline-block;
    white-space: nowrap;
}
nav.navbar .navbar-item.has-user-avatar .is-user-avatar,
nav.navbar .navbar-item.has-user-avatar .is-user-name {
    display: inline-block;
    vertical-align: middle;
}
.navbar-item.nav-right-home-admin-container {
    padding-top: 0.7em;
    padding-right: 0.4em !important;
}
nav.pagination ul.pagination-list li {
    margin-left: 0;
}

nav.prev-next-buttons a, nav.prev-next-buttons span {
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0.1rem !important;
}

nav.pagination a.pagination-next,
nav.pagination a.pagination-previous,
nav.pagination a.pagination-next {
    background-color: #ffffff;
    color: #363636;
}
nav.pagination span.pagination-previous,
nav.pagination span.pagination-next {
    color: #d0d0d0;
    background-color: #f8f8f8;
}

.nav-button i {
    margin-right: 8px;
}

.home-button {
    background-color: #2e323a !important;
    color: #f5f5f5 !important;
    font-size: 1.2em !important;
    font-weight: 700 !important;
    padding: .25rem .5rem .25rem .5rem !important;
    border-radius: 10px !important;
}
.home-button:hover {
    background-color: #727c8f !important;
    color: #f5f5f5 !important;
}
.home-button.selected {
    background-color: #727c8f !important;
    cursor: default;
}
.home-admin-button-separator {
    display: inline-block !important;
    width: 3px !important;
}

/* admin table */
table.table.admin-table,
table.table.user-table,
table.table.guest-table {
    border: 0 rgb(128, 128, 128) inset;
    border-collapse: collapse;
    margin-bottom: .75rem !important;
}

table.table.admin-table tbody tr:not(.is-selected):nth-child(even),
table.table.user-table tbody tr:not(.is-selected):nth-child(even),
table.table.guest-table tbody tr:not(.is-selected):nth-child(even) {
    background-color: #f5f5f5;
    width: auto !important;
}

table.table.admin-table thead th, table.admin-table thead td,
table.table.admin-table tbody th, table.admin-table tbody td,
table.table.user-table thead th, table.user-table thead td,
table.table.user-table tbody th, table.user-table tbody td,
table.table.guest-table thead th, table.guest-table thead td,
table.table.guest-table tbody th, table.guest-table tbody td {
    padding: 0.1em 0.2em;
    /*white-space: nowrap;*/
    width: 1%;
    cursor: default
}

table.table.admin-table tbody tr:not(.is-selected):hover,
table.table.user-table tbody tr:not(.is-selected):hover,
table.table.guest-table tbody tr:not(.is-selected):hover {
    background-color:#e0e0e0
}

table.table.admin-table tbody tr:not(.is-selected):hover:nth-child(even),
table.table.user-table tbody tr:not(.is-selected):hover:nth-child(even),
table.table.guest-table tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color:#e0e0e0
}

p.admin-table-caption,
p.user-table-caption,
p.guest-table-caption {
    font-size: 14px;
    font-style: italic;
    margin: 0 !important;
}

table.table.admin-table.recipe-instruction-table td,
table.table.user-table.recipe-instruction-table td,
table.table.guest-table.recipe-instruction-table td {
    white-space: wrap;
    width: auto !important;
}

table.table.admin-table.coworker-table { max-width: 60rem; }

table.table.admin-table.skill-table { max-width: 20rem; }

table.table.admin-table.task-table { max-width: 40rem; }

span.featured-splat {
    font-weight: 800;
}

table.table.guest-table {
    border: 0 rgb(128, 128, 128) inset;
    border-collapse: collapse;
    margin-bottom: .75rem !important;
}

div.floating-div-container {
    max-width: 80rem !important;
}
div.floating-div-container div.floating-div {
    display: inline-block;
    vertical-align: top;
    width: auto;
}
div.floating-div-container div.floating-div.card {
    padding: 1rem !important;
    margin-bottom: .5rem !important;
}
div.floating-div-container.settings div.floating-div {
    max-width: 8rem;
    white-space: nowrap;
    border: 0;
    padding: 0.2rem !important;
    margin: 0 !important;
}

.top-left-span {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right-span {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-left-span {
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom-right-span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-page-title {
    font-size: 1.5em;
    font-weight: 800;
    color: #363636 !important;
}
.header-page-title.admin, .header-page-title.admin:hover {
    color: #363636 !important;
}
.header-page-title.user, .header-page-title.user:hover {
    color: #363636 !important;
}
.header-page-title.guest, .header-page-title.guest:hover {
    color: #363636 !important;
}

/* title bar */
section.section.is-title-bar div.level div.level-left,
section.section.is-title-bar div.level div.level-right {
    margin-top: 0;
}

/* bread crumbs */
section.section.is-title-bar ul {
    padding: 6px 0 4px 0;
}
section.section.is-title-bar ul li {
    line-height: 1;
    display: inline-block;
    padding: 0;
    font-size: 1.5rem;
    color: #7a7a7a
}

section.section.is-title-bar ul li:after {
    display: inline-block;
    content: "/";
    padding-left: 0
}

section.section.is-title-bar ul.breadcrumbs {
    padding: 6px 0 4px 0;
    list-style: none;
    margin: 0;
}
section.section.is-title-bar ul.breadcrumbs li {
    line-height: 1;
    display: inline-block;
    padding: 0;
    color: #7a7a7a;
}
section.section.is-title-bar ul.breadcrumbs li a,
section.section.is-title-bar ul.breadcrumbs li span:last-child {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}
section.section.is-title-bar ul.breadcrumbs li span,
section.section.is-title-bar ul.breadcrumbs li span:last-child {
    color: #485fc7;
    cursor: default;
    text-decoration: none;
}

/* subtitle bar */

section.hero.is-hero-bar {
    background-color: transparent;
    border: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
section.hero.is-hero-bar .hero-body {
    padding: 0.3rem 0.3rem 0.3rem 1.125rem;
}
div.subtitle-bar div.level div.level-left,
div.subtitle-bar div.level div.level-right {
    margin-top: 2px;
}
div.subtitle-bar > * {
    vertical-align: top;  // Align children to middle of line
}

section.is-main-section {
    padding: 0.5rem;
}
footer {
    background-color: transparent !important;
    border: 0;
    margin-top: 0.5rem;
}

div.property-list div.label {
    min-width: 6rem !important;
    white-space: nowrap;
}
div.property-list div.value {
    padding-left: 1.2rem !important;
}

.show-at-480 { display: none !important; }
@media screen and (max-width: 480px) {
    .hide-at-480 { display: none !important; }
    .show-at-480 { display: block !important; }
    .font-size-12px-at-480 { font-size: 12px !important; }
}
.show-at-600 { display: none !important; }
@media screen and (max-width: 600px) {
    .hide-at-600 { display: none !important; }
    .show-at-60 { display: block !important; }
    .font-size-14px-at-600 { font-size: 12px !important; }
}
.show-at-750 { display: none !important; }
@media screen and (max-width: 750px) {
    .hide-at-750 { display: none !important; }
    .show-at-750 { display: block !important; }
}
.show-at-900 { display: none !important; }
@media screen and (max-width: 900px) {
    .hide-at-900 { display: none !important; }
    .show-at-900 { display: block !important; }
}
.show-at-1024 { display: none !important; }
@media screen and (max-width: 1024px) {
    .hide-at-1024 { display: none !important; }
    .show-at-1024 { display: block !important; }
}
.show-at-1200 { display: none !important; }
@media screen and (max-width: 1200px) {
    .hide-at-1200 { display: none !important; }
    .show-at-1200 { display: block !important; }
}
.show-at-1300 { display: none !important; }
@media screen and (max-width: 1300px) {
    .hide-at-1300 { display: none !important; }
    .show-at-1300 { display: block !important; }
}
.show-at-1400 { display: none !important; }
@media screen and (max-width: 1400px) {
    .hide-at-1400 { display: none !important; }
    .show-at-1400 { display: block !important; }
}
/* Hamburger menu styles */
a.hamburger-icon {
    display: none !important;
    color: #363636 !important;
}
a.hamburger-icon i.fa {
    width: 32px;
    height: 32px;
    font-size: 32px;
}
@media screen and (max-width: 1023px) {
    a.hamburger-icon {
        display: inline-block !important;
    }
}
.hamburger-nav {
    overflow: hidden;
    background-color: #2e323a;
    position: relative;
}

.hamburger-nav #hamburger-menu-container {
    display: none;
}

.hamburger-nav a {
    color: white;
    padding: 03rem;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.hamburger-nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.hamburger-nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
}
#hamburger-menu-container {
    display: none;
    z-index: 1000;
}

.site-disclaimer, .site-disclaimer.message.is-danger, .site-disclaimer.message.is-info,
.site-disclaimer.message.is-success, .site-disclaimer.message.is-warning {
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* styles for about page admin preview panel */
div.card.admin-preview {
    display: flex;
    background-color: rgb(128, 128, 128);
    padding: 16px;
    margin-bottom: 2.5rem !important;
}
div.card.admin-preview.no-flex {
    display: block;
}
div.card.admin-preview div {
    vertical-align: top;
    margin-bottom: 16px;
}
div.card.admin-preview div.admin-preview-image {
    flex: 1;
    margin-right: 16px;
}
div.card.admin-preview div.admin-preview-image.no-flex {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
div.card.admin-preview div.admin-preview-text {
    flex: 3;
    background-color: #f0f0f0;
    padding: 16px;
}
div.card.admin-preview div.admin-preview-text.no-flex {
    display: block;
    width: 100%;
}

/* social media share styles */
#social-links {
    font-size: 1.8rem;
}
#social-links ul {
    display: flex;
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}

